<%= form_for(@cliente, data: {abide:""}) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
	  <div class="small-8 columns">
		  <%= f.label :nombre %><br>
		  <%= f.text_field :nombre, placeholder: 'Nombre', required:'' %>
		  <%= content_tag(:small, "Nombre requerido", class: "error") %>
	  </div>

	  <div class="small-4 columns">
		  <%= f.label :rut %><br>
		  <%= f.text_field :rut, placeholder: 'Rut', required:'' %>
		  <%= content_tag(:small, "Rut requerido", class: "error") %>
	  </div>

  </div>

  <div class="row">
	  <div class="small-12 columns">
		  <%= f.label :giro %><br>
		  <%= f.text_field :giro, placeholder: 'Giro', required:'' %>
		  <%= content_tag(:small, "Giro requerido", class: "error") %>
	  </div>
  	
  </div>

  <div class="row">
	  <div class="small-8 columns">
		  <%= f.label :direccion %><br>
		  <%= f.text_field :direccion, placeholder: 'Dirección', required:'' %>
		  <%= content_tag(:small, "Dirección requerido", class: "error") %>
	  </div>

	  <div class="small-4 columns">
		  <%= f.label :ciudad %><br>
		  <%= f.text_field :ciudad, placeholder: 'Ciudad', required:'' %>
		  <%= content_tag(:small, "Ciudad requerida", class: "error") %>
	  </div>
  </div>

	<div class="row">
		<div class="small-10 columns">
		</div>
		<div class="small-2 columns">
			<%= f.submit "Guardar Cliente", class: "button small radius" %>
		</div>
	</div>
<% end %>

