<p></p>

<%= link_to 'Volver', clientes_path, class: "button small secondary" %>

<div class="panel">
	<div class="row">
		<div class="small-4 columns">
			Nombre:
		</div>
		<div class="small-8 columns">
			<strong><%= @cliente.nombre %></strong>
		</div>
	</div>
	<div class="row">
		<div class="small-4 columns">
			Direccion:
		</div>
		<div class="small-8 columns">
			<strong><%= @cliente.direccion %></strong>
		</div>
	</div>
	<div class="row">
		<div class="small-4 columns">
			Ciudad:
		</div>
		<div class="small-8 columns">
			<strong><%= @cliente.ciudad %></strong>
		</div>
	</div>
	<div class="row">
		<div class="small-4 columns">
			Giro:
		</div>
		<div class="small-8 columns">
			<strong><%= @cliente.giro %></strong>
		</div>
	</div>
	<div class="row">
		<div class="small-4 columns">
			Rut:
		</div>
		<div class="small-8 columns">
			<strong><%= @cliente.rut %></strong>
	</div>
</div>
