<%= form_for(@factura) do |f| %>
  <% if @factura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@factura.errors.count, "error") %> prohibited this factura from being saved:</h2>

      <ul>
      <% @factura.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %><br>
    <%= f.text_field :numero %>
  </div>
  <div class="field">
    <%= f.label :cliente %><br>
    <%= f.collection_select :cliente_id, @clientes, :id, :nombre %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div id="items">
	  <%= f.fields_for :items do |item| %>
		  <%= render 'item_fields', :f => item %>
	  <% end %>

  <div class="field">
			  <%= link_to_add_association 'Agregar item', f, :items %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
