<%= javascript_include_tag params[:controller] %>

<%= form_for(@factura, data: {abide:""}) do |f| %>
  <% if @factura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@factura.errors.count, "error") %> prohibited this factura from being saved:</h2>

      <ul>
      <% @factura.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
	  <div class="small-2 columns">
		  <%= f.label :numero %>
		  <%= f.text_field :numero, placeholder: 'Numero', required:'' %>
		  <%= content_tag(:small, "Numero requerido", class: "error") %>
	  </div>
	  
	  <div class="small-6 columns">
		  <%= f.label :cliente %>
		  <%= f.collection_select :cliente_id, Cliente.all, :id, :nombre %>
	  </div>

	  <div class="small-4 columns">
		  <%= f.label :fecha %>
		  <%= f.text_field :fecha, class: "dtp", value: Date.today.strftime("%d/%m/%Y")  %>
	  </div>
  </div>
  <div class="row">
  	<div class="small-3 columns">
		  <%= f.label :oc, "Orden de Compra" %>
		  <%= f.text_field :oc %>
	  </div>

  	<div class="small-3 columns">
		  <%= f.label :gd, "Guia Despacho" %>
		  <%= f.text_field :gd %>
	  </div>

  	<div class="small-3 columns">
		  <%= f.label :cp, "Condiciones de Pago" %>
		  <%= f.text_field :cp %>
	  </div>

  	<div class="small-3 columns">
		  <%= f.label :vencimiento, "Vencimiento" %>
		  <%= f.text_field :vencimiento, class: "dtp"  %>
	  </div>
  </div>

	<div class="row">
		<div class="small-12 columns">
			<%= content_tag :h4, "" %>
		</div>
	</div>


	<div id="items">
		<%= f.fields_for :items do |item| %>
			<%= render 'item_fields', :f => item %>
		<% end %>
		<%= link_to_add_association 'Agregar item', f, :items, class: "button tiny success radius" %>
	</div>


	<div class="row">
		<div class="small-6 columns">
		</div>
		<div class="small-3 columns">
			<%= f.submit "Guardar factura", class: "button small radius" %>
		</div>
	</div>
<% end %>

