<%= javascript_include_tag params[:controller] %>

<div class="nested-fields" id="nested-f">
	<div class="row">
		<div class="small-2 columns">
			<%= f.text_field :cantidad %>
		</div>

		<div class="small-6 columns">
			<%= f.text_field :detalle %>
		</div>

		<div class="small-2 columns">
			<%= f.text_field :precio%>
		</div>

		<div class="small-2 columns">
			<%= link_to_remove_association "Borrar", f, class: "button alert tiny radius" %>
		</div>
	</div>
	

</div>
