<%= javascript_include_tag params[:controller] %>

<div class="nested-fields" id="nested-f">
	<div class="row">
		<div class="small-2 columns">
		  <%= f.text_field :cantidad, placeholder: 'Cantidad', required:'' %>
		  <%= content_tag(:small, "Cantidad requerida", class: "error") %>
		</div>

		<div class="small-6 columns">
		  <%= f.text_field :detalle, placeholder: 'Detalle', required:'' %>
		  <%= content_tag(:small, "Detalle requerido", class: "error") %>
		</div>

		<div class="small-2 columns">
		  <%= f.text_field :precio, placeholder: 'Precio', required:'' %>
		  <%= content_tag(:small, "Precio requerido", class: "error") %>
		</div>

		<div class="small-2 columns">
			<%= link_to_remove_association "Borrar", f, class: "button alert tiny radius" %>
		</div>
	</div>
	

</div>
