<h1>Listing facturas</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Fecha</th>
      <th>Cliente</th>
      <th>Total</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @facturas.each do |factura| %>
      <tr>
        <td><%= link_to factura.numero, factura %></td>
        <td><%= factura.fecha %></td>
        <td><%= factura.cliente.nombre %></td>
        <td><%= formato(factura.total.round) %></td>
        <td><%= link_to 'Editar', edit_factura_path(factura) %></td>
        <td><%= link_to 'Borrar', factura, method: :delete, data: { confirm: 'Esta seguro de borrar la factura?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Factura', new_factura_path %>
