<p id="notice"><%= notice %></p>

<%= link_to 'Volver', facturas_path, class: "button small secondary" %>
<%= link_to "Imprimir", factura_path(@factura, format: "pdf"), class: "button small alert" %>

<div class="row">
	<div class="small-2 columns">
		<div class="row">
			<div class="small-6 columns">
				Numero:
			</div>
			<div class="small-6 columns">
				<strong><%= @factura.numero %></strong>
			</div>
		</div>
	</div>

	<div class="small-6 columns">
		<div class="row">
			<div class="small-2 columns">
				Cliente:
			</div>
			<div class="small-10 columns">
				<strong><%= @factura.cliente.nombre %></strong>
			</div>
		</div>
	</div>

	<div class="small-2 columns">
		<div class="row">
			<div class="small-6 columns">
				Fecha:
			</div>

			<div class="small-6 columns">
				<strong><%= @factura.fecha.strftime("%d/%m/%Y") %></strong>
			</div>
		</div>
	</div>
</div>
<br />
<table>
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Detalle</th>
      <th>Precio</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.cantidad %></td>
        <td><%= item.detalle %></td>
        <td><%= formato(item.precio) %></td>
        <td><%= formato(item.total) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

	<div class="row">
		<div class="small-8 columns">
		</div>

		<div class="small-4 columns">
			<div class="small-8 columns">
				<strong>Neto:</strong>
			</div>
			<div class="small-4 columns">
				<%= formato(@factura.neto.round) %>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="small-8 columns">
		</div>

		<div class="small-4 columns">
			<div class="small-8 columns">
				<strong>Iva:</strong>
			</div>
			<div class="small-4 columns">
				<%= formato(@factura.iva.round) %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="small-8 columns">
		</div>

		<div class="small-4 columns">
			<div class="small-8 columns">
				<strong>Total:</strong>
			</div>
			<div class="small-4 columns">
				<%= formato(@factura.total.round) %>
			</div>
		</div>
	</div>
