<p></p>

<%= link_to 'Volver', facturas_path, class: "button small secondary" %>
<%= link_to "Imprimir", factura_path(@factura, format: "pdf"), class: "button small alert" %>

<div class="panel">
	
<div class="row">		
			<div class="small-3 columns">
				Cliente:
			</div>
			<div class="small-9 columns">
				<strong><%= @factura.cliente.nombre %></strong>
			</div>
</div>
<div class="row">
	<div class="small-6 columns">
		<div class="row">
			<div class="small-6 columns">
				Numero:
			</div>
			<div class="small-6 columns">
				<strong><%= @factura.numero %></strong>
			</div>
		</div>
	</div>
	<div class="small-6 columns">
		<div class="row">
			<div class="small-5 columns">
				Fecha:
			</div>

			<div class="small-7 columns">
				<strong><%= @factura.fecha.strftime("%d/%m/%Y") %></strong>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="small-6 columns">
		<div class="row">
			<div class="small-6 columns">
				Orden de Compra:
			</div>
			<div class="small-6 columns">
				<strong><%= @factura.oc %></strong>
			</div>
		</div>
	</div>

	<div class="small-6 columns">
		<div class="row">
			<div class="small-5 columns">
				Guia Despacho:
			</div>
			<div class="small-7 columns">
				<strong><%= @factura.gd %></strong>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-6 columns">
		<div class="row">
			<div class="small-6 columns">
				Condiciones de Pago:
			</div>

			<div class="small-6 columns">
				<strong><%= @factura.cp %></strong>
			</div>
		</div>
	</div>

	<div class="small-6 columns">
		<div class="row">
			<div class="small-5 columns">
				Vencimiento:
			</div>

			<div class="small-7 columns">
				<strong><%= @factura.vencimiento %></strong>
			</div>
		</div>
	</div>
</div>
</div>

<br />
<table>
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Detalle</th>
      <th>Precio</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.cantidad %></td>
        <td><%= item.detalle %></td>
        <td><%= formato(item.precio) %></td>
        <td><%= formato(item.total) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
	<div class="small-9 columns">
	</div>

	<div class="small-3 columns">
		<div class="panel callout radius">
			<div class="row">
				<div class="small-6 columns">
					Neto:
				</div>
				<div class="small-6 columns">
					<strong><%= formato(@factura.neto.round) %></strong>
				</div>
			</div>

			<div class="row">
				<div class="small-6 columns">
					Iva:
				</div>
				<div class="small-6 columns">
					<strong><%= formato(@factura.iva.round) %></strong>
				</div>
			</div>

			<div class="row">
				<div class="small-6 columns">
					Total:
				</div>
				<div class="small-6 columns">
					<strong><%= formato(@factura.total.round) %></strong>
				</div>
			</div>
		</div>
	</div>
</div>

