<!DOCTYPE html>
<html>
<head>
  <title>Fact5</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Facturas", facturas_url %>
<%= link_to "Clientes", clientes_url %>
<%= yield %>

</body>
</html>
