<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag :cocoon %>
    <%= csrf_meta_tags %>
  </head>

  <body>
	<nav class="top-bar">
	  <ul class="title-area">
	    <li class="name">
	      <h1><%= link_to "ImpFacturas", root_url %></a></h1>
	    </li>
	  </ul>
	  <section class="top-bar-section">
		  <% if current_usuario %>
	    <ul class="right">
	      <li class="divider"></li>
	      <li><%= link_to "Facturas", facturas_url %></li>
	      <li class="divider"></li>
	      <li><%= link_to "Clientes", clientes_url %></li>
	      <li class="divider"></li>
	      <li><%= link_to current_usuario.email, '' %></li>
	      <li class="divider"></li>
	      <li><%= link_to "Salir", logout_path %></li>
	    </ul>
		  <% end %>
	  </div>
	</nav>


	<div class="row">
	  <div class="large-10 large-centered columns">
	  <% flash.each do |name, msg| %>
		  <% if msg.is_a?(String) %>
			  <div class="alert-box <%= name == :notice ? "success" : "warning" %>">
				  <a href="#" class="close">&times;</a>
				  <%= content_tag :div, msg, :id => "flash_#{name}" %>
			  </div>
		  <% end %>
	  <% end %>
		  <%= yield %>
	  </div>
  </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
